@media (min-width: 1024px) {
    .fixed-bottom-web {
      position: fixed !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      z-index: 1030 !important;
    }
    html {
      height: 100vh;
    }
  }
  
  .text-black {
    color: black;
  }
  
  .shdw {
    -webkit-box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.75) !important;
  }
  
  .shdw-med {
    -webkit-box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.75) !important;
  }
  .shdw-light {
    -webkit-box-shadow: 6px 10px 6px -5px #777 !important;
    -moz-box-shadow: 6px 10px 6px -5px #777 !important;
    box-shadow: 6px 10px 6px -5px #777 !important;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .company-logo {
    height: 8rem;
    width: 8rem;
  }
  
  .gradient {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #5cc2d0 0%, #4858da 74%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .btn-rounded {
    border-radius: 30px !important;
  }
  
  .btn-facebook {
    background-color: #3b5998 !important;
  }
  .btn-whatsapp {
    background-color: #25d366 !important;
  }
  .btn-gmail {
    background-color: #d44638 !important;
  }
  .btn-map {
    background-color: #0daf71 !important;
  }
  .btn-phone {
    background-color: #c64fe0 !important;
  }
  .btn-instagram {
    background-color: #e1306c !important;
  }
  
  .zoom-effect:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 510px) {
    .company-logo {
      height: 5rem;
      width: 5rem;
    }
  }
  
  @media (max-width: 400px) {
    .company-logo {
      height: 6rem;
      width: 6rem;
    }
  }
  