.shdw{
  -webkit-box-shadow: 2px 4px 20px -4px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 2px 4px 20px -4px rgba(0,0,0,0.75) !important;
  box-shadow: 2px 4px 20px -4px rgba(0,0,0,0.75) !important;
          }

.shdw-light{
  -webkit-box-shadow: 6px 10px 6px -5px #777 !important;
      -moz-box-shadow: 6px 10px 6px -5px #777 !important;
          box-shadow: 6px 10px 6px -5px #777 !important;
}

.bg-white{
  background-color: white;
}

.h1{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 3.5rem !important;
}


@media (max-width: 450px) {
  .h1 {
    font-size: 2.5rem !important;
  }
}

.opacity-0 {
  opacity: 0; }

.opacity-10 {
  opacity: 0.1; }

.opacity-20 {
  opacity: 0.2; }

.opacity-30 {
  opacity: 0.3; }

.opacity-40 {
  opacity: 0.4; }

.opacity-50 {
  opacity: 0.5; }

.opacity-60 {
  opacity: 0.6; }

.opacity-70 {
  opacity: 0.7; }

.opacity-80 {
  opacity: 0.8; }

.opacity-90 {
  opacity: 0.9; }